{extend name="layout/member" /} 
{block name="content"}
<style>
#xi{
    height: 24px;
    display: inline-block;
		margin-bottom: 3px;
}
#xi:before{
    width: 19px;
    content: "系";
    color: #FFF;
    display: inline-block;
    margin-right: 3px;
    padding: 2px;
    text-align: center;
	border-color: #198bfc;
    background-color: #198bfc;
    box-shadow: 1px 3px 13px rgba(25,139,252,.2);
	border-radius: 3px;

}
#shang{
    height: 24px;
    display: inline-block;
}
#shang:before{
    border-color: #01cf75;
    background-color: #01cf75;
    box-shadow: 1px 3px 13px rgba(1,207,117,.21);
    width: 19px;
    content: "商";
    color: #FFF;
    display: inline-block;
    margin-right: 3px;
    padding: 2px;
    text-align: center;
	border-radius: 3px;
}
</style>
    <div class="view-framework-main">
	<div class="box">
		<h2 class="box-caption">充值记录</h2>
		<div class="form-filter">
			<form action="{:url('merchants/CashApi/consign')}" method="get" id="formsubmit">
				<div class="form-group">
					<label class="control-label" for="qStartTime">日期筛选</label>
					<input type="text" class="form-control form-datetime" id="qStartTime" name="starttime" value="{$starttime|default=''}" autocomplete="off">
					<span class="control-label">-</span>
					<input type="text" class="form-control form-datetime mr10"  id="qEndTime" name="endtime" value="{$endtime|default=''}" autocomplete="off">
					<a class="item {eq name="$day" value="1"}selected{/eq}" href="javascript:;" onclick="submitset('day',1)">今天</a>
                  <a class="item {eq name="$day" value="7"}selected{/eq}" href="javascript:;" onclick="submitset('day',7)">最近7天</a>
					  <input type="hidden" name="day" value="{$day|default=''}">
				</div>
				<div class="form-group">
					<label class="control-label" for="rekey">订单查询</label>
					<input type="text" class="form-control input-long mr10" name="rekey" id="rekey" value="{:input('rekey')}" placeholder="请输入关键字搜索">
					<select name="setype" class="form-control mr10" style="width:130px">
						<option value="orderno" {eq name="setype" value="orderno"}selected{/eq}>系统订单号</option>
						<option value="tmporder" {eq name="setype" value="tmporder"}selected{/eq}>商户订单号</option>
						<option value="number" {eq name="setype" value="number"}selected{/eq}>充值号码</option>
						<option value="money" {eq name="setype" value="money"}selected{/eq}>充值金额</option>
					</select>
					<label class="control-label" for="cardype">卡种类型</label>
					<select name="cardype" class="form-control mr20" style="width: 120px;">
						<option value="">全部类型</option>
						{volist name="clist" id="p"}
						<option value="{$p.geway}" {eq name="cardype" value="$p.geway"}selected{/eq}>{$p.title}【{$p.mianzhi}】</option>
						{/volist}
					</select>
					<label class="control-label" for="cardype">卖卡状态</label>
					<select name="status" class="form-control mr10">
						<option value="">全部状态</option>
						<option value="1" {eq name="status" value="1"}selected{/eq}>等待受理</option>
						<option value="2" {eq name="status" value="2"}selected{/eq}>处理中</option>
						<option value="3" {eq name="status" value="3"}selected{/eq}>完成交易</option>
						<option value="4" {eq name="status" value="4"}selected{/eq}>交易失败</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-sm btn-square px30" onclick="checktime();" type="button">搜索</button>
					<button class="btn btn-default btn-sm btn-square" onclick="$('[name=status]').val('');" type="button" data-href="{:url('merchants/CashApi/export')},href,top-left,get">导出记录(Excel)</button>
				</div>
			</form>
		</div>
		<div class="table-responsive">
			<table class="table table-custom sell-records">
			<thead>
			<tr>
				<th class="date">
					订单号
				</th>
				<th class="">
					充值产品
				</th>
				<th class="note">
					充值号码
				</th>
				<th class="note">
					充值金额
				</th>

				<th class="state">
					交易状态
				</th>
				<th class="note">
					提交时间
				</th>
				<th class="note">
					备注说明
				</th>

				<th class="note">
					处理耗时
				</th>

			</tr>
			</thead>
			<tbody>
			{volist name="list" id="f"}
			<tr>
				<td class="date">
					<span class="text-orange" id="xi">{$f.orderno}</span></br>
					<span class="text-green" id="shang">{$f.tmporder}</span>
				</td>
				<td>
					{$f.title}
				</td>
				<td class="note">
					{$f.number}
				</td>
				<td class="note">
					{$f.money}
				</td>

				<td class="state">
					{:orderType($f.state)}
				</td>
				<td class="note">
					<span class="text-orange">{$f.create_time}</span>
				</td>
				<td class="note">
					<span class="text-red">{$f.remarks|default="-"}</span>
				</td>

				<td class="note">
					<span class="text-red">{$f.haos|default="-"}</span>
				</td>

			</tr>
			{/volist}
			</tbody>
			</table>
			{empty name="list"}{$empty|raw}{/empty}
		</div>
		<div class="pb20">
			  {$list|raw}
       </div>
	</div>
</div>
<script>
	function checktime(){
		var at=$("#qStartTime").val();
		var et=$("#qEndTime").val();
		var new_date = new Date(et); //新建一个日期对象，默认现在的时间
		var old_date = new Date(at); //设置过去的一个时间点，"yyyy-MM-dd HH:mm:ss"格式化日期
		var difftime = (new_date - old_date) / 1000; //计算时间差,并把毫秒转换成秒
		var days = parseInt(difftime / 86400);
		if (days > 7){
			var html='<div class="modal-prompt">'+'<div class="prompt prompt-danger">'+'<div class="prompt-icon">';
			html+='<i class="iconimg"></i></div><div class="prompt-cont">';
			html+='<h4>时间间隔不能大于7天</h4><div class="action">';
			html+='<a class="btn btn-sm btn-default btn-cancel" href="###" data-dismiss="modal">确定</a>';
			html+='</div></div></div></div>';
			$("#modal-dialog").html(html).width(420).modal({
				title: "提示信息",
				modal: !0
			})
			return false;
		}
		if(days<0){
			var html='<div class="modal-prompt">'+'<div class="prompt prompt-danger">'+'<div class="prompt-icon">';
			html+='<i class="iconimg"></i></div><div class="prompt-cont">';
			html+='<h4>开始时间不能大于结束时间</h4><div class="action">';
			html+='<a class="btn btn-sm btn-default btn-cancel" href="###" data-dismiss="modal">确定</a>';
			html+='</div></div></div></div>';
			$("#modal-dialog").html(html).width(420).modal({
				title: "提示信息",
				modal: !0
			})
			return false;
		}
		$('[name=day]').val('');
		$("#formsubmit").submit();
	}
</script>
{/block}