{extend name="layout/member" /}
{block name="content"}
<div class="view-framework-main">
    {include file="layout/info_menu" /}
    <div class="box tab-content realname-content">
        <div class="alert alert-icon alert-warning hidden">
            <div class="icon">
                <i class="iconfont">&#xe61c;</i></div>
            <div class="text">
                <h4>您还未进行实名身份认证，请填写以下信息进行认证。</h4>
                <p>实名认证：是由{$C.sitename}提供的一项身份识别服务，只有实名认证之后才可进行余额提现操作。</p>
            </div>
        </div>
        <form id="uploadImage" method="post" >
            <div class="userform userform-narrow">
                <div class="form-group mb20">
                    <label class="form-label">&nbsp;</label>
                    <div class="form-element">
                        <ul class="btn-group btn-group-long clearfix" id="realname-group">
                            <li  class="active">
                                <a class="btn" href="{:url('home/Account/index')}">
                                    <i class="iconfont iconfont-phone">&#58903;</i>人脸识别(自动)</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="username">
                        <em>*</em>真实姓名：</label>
                    <div class="form-element">
                        <input type="text" class="form-control form-control-short" id="username" name="username" value="" null="请输入真实姓名" reg="[\u4e00-\u9fa5]{2,10}">
                        <div class="form-tips">
                            <p>请输入与身份证一致的真实姓名</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="idcard">
                        <em>*</em>身份证号码：</label>
                    <div class="form-element">
                        <input type="text" class="form-control" id="idcard" name="idcard" value="" null="请输入正确的身份证号码" reg="^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$">
                        <div class="help-block">
                            <p>请输入与您真实姓名一致的身份证号</p>
                        </div>
                    </div>
                </div>
                <div id="recycle-check">
                    <div class="form-group">
                        <div class="col-xs-11 col-xs-offset-1">
                            <label class="checkbox" for="protocol"><input type="checkbox" id="protocol" />
                                <span class="checkbox-text"> 您需对注册信息的真实性、合法性、有效性承担全部责任；{$C.sitename}账户<span style="color:red">仅限本人使用</span>，不得冒用他人信息进行注册，<p>否则本平台有权立即停止向您提供服务并保留追究法律责任的权利</span></label>
                        </div>
                    </div>
                </div>
                <div class="realname-tabs">
                    <div class="form-group-btn pt10 clearfix">
                        {:token_field()}
                        <input id="btna" class="btn btn-green make-alipay pull-left btn-disabled" disabled="disabled" type="button"  name="wxname" value="开始认证" onclick="wxtocheck('#uploadImage',this)"/></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var url = "{:url('home/Account/uploadImage')}";
    $("#protocol").click(function(e){
        var isok=$("input[type='checkbox']").is(':checked');
        if(isok){
            $("#btna").attr('disabled',false).removeClass('btn-disabled');
        }else{
            $("#btna").attr('disabled',true).addClass('btn-disabled');
        }

    })
</script>
<script src="__JS__/webuploader.min.js"></script>
<script src="__JS__/jquery.img.js?v=103"></script>
{/block}